MONGO_USER=admin
MONGO_PASS=MatKhauBaoMatCuaBan
# Quan trọng: Nếu password có ký tự đặc biệt (VD: @), hãy dùng biến ENCODED bên dưới thay thế
# VD: Ký tự @ thay bằng %40
MONGO_PASS_ENCODED=MatKhauBaoMatCuaBan
MONGO_DB=tamtin_accounting_db

DOCKERHUB_USERNAME=trolevan26299
